
.stil_hint { color: lightgray; font-size: smaller; }

.stil_exercitii { font-weight: bold; font-size: larger; color: #800080; }

.stil_ex_suplimentare { font-style: italic; font-size: larger; color: red; }
